[Desktop Entry]
Type=Application
Name=Custom Startup Script
Exec=sudo /home/olsonadr/.config/autostart/startup.sh && /home/olsonadr/.config/autostart/scaling.py 3
Terminal=false
X-GNOME-Autostart-enabled=true
